<div class="box_post">
   <div class="post_metadata">
      <div class="user-details">
         <i class="material-icons dp_post" style="font-size: 50px;">account_circle</i>
         <b>
            <%=i.name %>
         </b><i id="opacity"> @imanmay2</i> . <%=getDate(i.post_date) %>
      </div>
      
      <i class="material-icons" style="cursor: pointer;" id="more">more_vert <div class="dropdown-menu" id="dropdown-menu">
         <ul>
            <form action="/<%= i.post_id %>/edit" method="POST">
               <li><button type="submit" style="all: unset;cursor: pointer;">Edit</button></li></form>
            <form action="/<%= i.post_id %>/delete" method="POST">
            <li><button type="submit" style="all: unset;cursor: pointer;">Delete</button></li></form>
         </ul>
      </div></i>
      

   </div>

   <p class="post_para roboto-thin">
      <%=i.post_text %>
   </p> <br> <br> <br>
   <div class="post_icons">
      <i class="material-icons-outlined like">
         thumb_up
      </i><i class="material-icons share">
         ios_share
      </i><i class="material-icons bookmark">
         bookmark_outlined
      </i>
   </div>
</div>