<div class="box_post">
   <div class="post_metadata">
      <div class="user-details">
         <img src="https://images.unsplash.com/photo-1725714834773-b5f278346915?q=80&w=2940&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="some image" style="height:30px;width:30px;border-radius: 50%;">
         <b>
            <%=i.name %>
         </b><i id="opacity"> @<%= USERID %></i> . <%=getDate(i.post_date) %>
      </div>


      <i class="material-icons" style="cursor: pointer;" id="more">more_vert <div class="dropdown-menu"
            id="dropdown-menu">
            <ul>
               <li id="edit_POST">Edit</li>
               <form action="/<%= i.post_id %>/delete" method="POST">
                  <li><button type="submit" style="all: unset;cursor: pointer;">Delete</button></li>
               </form>
            </ul>
         </div></i>
   </div>
   <p style="display: none;" class="post_id"><%= i.post_id %></p>
   <p class="post_para roboto-thin">
      <%=i.post_text %>
   </p> <br> <br><br>
   <div class="post_icons">
      <a href="/<%= i.post_id %>/like?isLiked=<%= i.isLiked%>" style="color: black;"><i class="<%= i.isLiked ? 'material-icons' : 'material-icons-outlined' %> like">
         thumb_up
      </i></a>
      <a href="" style="color: black;"><i class="material-icons share">
         ios_share
      </i></a>
      <a href="/<%= i.post_id %>/bookmark?isBookmarked=<%=i.isBookmarked%>" style="color: black;"><i class="material-icons bookmark">
         <%= i.isBookmarked ? 'bookmark' : 'bookmark_outlined' %>
      </i></a>
   </div>
</div>