<div class="profile-container">
    <div class="profile-picture">
        <img src="https://images.unsplash.com/photo-1725714834773-b5f278346915?q=80&w=2940&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="Profile Picture">
    </div>
    <div class="profile-info">
        <h1><%= USERNAME %></h1>
        <div>
            <p class="username">@<%= USERID %></p>
            <div class="bio">
                <p>Excellent Programmer. </p>
            </div>
        </div>
        <div class="follow-info">
            <span><strong><%= TOTALPOSTS %></strong> posts</span>
            <span><strong><%= TOTALBOOKMARKS %></strong> bookmarked</span>
            <span><strong><%= TOTALLIKES %></strong> liked</span>
        </div>
    </div>
</div>